h1
{
	color:  antiquewhite;
	border-bottom: solid;
	border-bottom-color: antiquewhite;
	border-bottom-width: thin;
	border-top: solid;
	border-top-color: antiquewhite;
	border-top-width: thin;
	

}
h2
{
	color:  antiquewhite;

}


body
{
	background-color: black;
}

#carte
{
	width: 800 px;
	margin: 0 auto;
	background-color: black;
	text-align: center;
	align-content: center;
}

ul li
{
	list-style-type: none;
}
