h1
{
	color:  whitesmoke;
}

body
{
	background-color: black;
}

#carte
{
	width: 800 px;
	margin: 0 auto;
	background-color: black;
	text-align: center;
	align-content: center;
}

ul li
{
	list-style-type: none;
}